/* Noto Sans Devanagari (self-hosted from Google Fonts)
 * Source CSS: https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@100..900&display=swap
 * License: fonts/NOTO_SANS_LICENSE.txt (SIL OFL 1.1)
 */
@font-face {
  font-family: 'Noto Sans Devanagari';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(../../fonts/noto/noto-sans-devanagari/devanagari.woff2) format('woff2');
  unicode-range:
    U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF,
    U+11B00-11B09;
}
